body {
    margin: 0px;
}
nav {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
}
.btn{
    background-color: rgb(56, 5, 238);
    color: white;
    border: 5px solid black;
    border-radius: 10px;

}
hr{
    margin: 0px;
}